// eventbox component styling

.singleline {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// Extra small devices (phones, less than 768px)
// No media query since this is the default in Bootstrap

.eventlist {
	padding-top: 1px;   // Hack to make the h2 margin be inside the box
	padding-bottom: 1px;
}

.eventlist-date {
	margin: 2rem 0 0 0;
	padding: 6px 16px;
	background-color: $brand-accent;
	color: #fff;
	font-weight: normal;

	font-size: 130%;
}

.ongoing .eventbox {
	.blurb, .location, .host { display: none; }
}

.eventbox {
	display: block;

	// Layout
	@extend .row;
	.date { @extend .col-md-2; }
	.main { @extend .col-md-10; }

	box-shadow: 0 1px 1px 0 lighten(#000, 50%);

	// Presentation
	padding: 1rem 0;
	margin: 0 0 1rem 0;

	background-color: white;
	color: black; // does bootstrap have a thing for this

	h4 {
		font-size: 120%;
		margin-top: 0;
	}

	.blurb { margin-bottom: $line-height-computed; }
	.location, .host, .outerurl, .perma {
		@extend .singleline;
		font-size: 14px;
		color: $gray;
		margin-bottom: 3px;
	}

	// Medium devices (desktops, 992px and up)
	@media (min-width: $screen-md-min) {
		padding: 16px 10px;

		h4 {
			font-size: 130%;
			line-height: 1;
		}

		.date {
			display: block;
			padding-left: 5px;  // Cancel out Bootstrap's row style
		}
	}

}

.eventbox-link {
	&:hover {
		color: black; // does bootstrap have a thing for this
		background-color: darken(#fff, 3%);
		@extend %shadow-depth-1;
	}

	@include transition(background-color ease-in-out .2s,
						box-shadow ease-in-out .2s);
}

.eventbox-shortblurb {
	.blurb {
		& > * { display: none; }
		& > *:first-child {
			display: block;
			&:after { content: " ... (click for more)"; font-style: italic; };
		}
	}
}

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm-min) {

}

// Large devices (large desktops, 1200px and up)
@media (min-width: $screen-lg-min) {

}
