// eventbox component styling

.singleline {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// Extra small devices (phones, less than 768px)
// No media query since this is the default in Bootstrap

.eventlist {
	padding-top: 1px;   // Hack to make the h2 margin be inside the box
	padding-bottom: 1px;
}

.eventlist-date {
	margin: 2rem 0 1rem 0;
	padding: 6px 16px;
	background-color: $brand-accent;
	color: #fff;
	font-weight: normal;
	font-size: ceil(($font-size-base * 1.4));	// ~20px
}

.ongoing .eventbox {
	.blurb, .location, .host { display: none; }
}

.eventbox {
	display: block;

	// Layout
	@extend .row;
	.date { @extend .col-md-2; }
	.main { @extend .col-md-10; }

	// Presentation
	padding: 1rem 0;
	margin: 0 0 1rem 0;
	border-top: 1px solid #E0E0E0;
	box-shadow: 0 1px 1px 0 lighten(#000, 50%);

	background-color: #fff;
	color: #000; // does bootstrap have a thing for this

	.button-list a { display: block; margin-bottom: 6px; }

	br { display: none; }

	h4 {
		font-size: 120%;
		margin-top: 0;
	}

	.meta {
		font-size: 14px;
		color: $gray;
		padding-left: 0;
		margin-left: 0;
	}

	li {
		@extend .singleline;
		margin-bottom: 3px;
	}

	// Medium devices (desktops, 992px and up)
	@media (min-width: $screen-md-min) {
		padding: 16px 10px;

		br { display: block; }

		h4 {
			font-size: 130%;
			line-height: 1;
		}

		.date {
			display: block;
			padding-left: 5px;  // Cancel out Bootstrap's row style
		}
	}

}

.eventbox-link {
	&:hover {
		color: black; // does bootstrap have a thing for this
		background-color: darken(#fff, 3%);
		@extend %shadow-depth-1;
	}

	@include transition(background-color ease-in-out .2s,
						box-shadow ease-in-out .2s);
}

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm-min) {

}

// Large devices (large desktops, 1200px and up)
@media (min-width: $screen-lg-min) {

}
