
.btn {
	font-family: $font-family-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.btn-outline {
	background-color: white;
	color: black;
	border: 2px solid $brand-primary;
	font-weight: normal;
}

.btn-default {
	background-color: $gray-lighter;
	color: #000;
	border: 1px solid $gray-light;
}

form {
	// We are overriding Bootstrap here, to remove the margin on top
	.help-block {
		margin-top: 0;
	}

	.text-danger {
		margin-top: 5px;
	}

	.text-danger {
		margin-bottom: 0;
	}

	#location_id + .text-danger {
		margin-top: -10px;
		margin-bottom: 15px;
	}

	.help-block {
		margin-bottom: $line-height-computed / 2;
	}
}
