.header-pull-both { margin-left: -15px; margin-right: -15px; }
.header-pull-left { margin-left: -15px; }
.header-inline { display: inline-block; }

.header-accent {
	background-color: $brand-accent;
	color: white;
	padding: 6px 15px;
	font-weight: 700;
	font-style: normal;
}

.header-box {
	@extend .header-accent;
	@extend .header-inline;
	@extend .header-pull-left;
}

// Our model is that everything that needs space after it should
// set margin-bottom.  This is more predictable than using both
// top & bottom.
h1, h2, h3, h4, h5, h6 { margin-top: 0; }
