// Individual page styles

// index.html
.index {
	.see-more {
		font-size: 110%;
		text-align: right;
	}

	.leftcontent {
		h2 { font-size: 4rem; color: #999; }
		@media (min-width: $screen-md-min) {
			h2 { font-size: 5rem; }
		}
	}

	.no-events {
		@extend .text-center;
		padding: 2em;
		border: 3px dotted $brand-primary-l15;
	}
}

// events.html
.event_calendar #calendar {
	margin-top: 20px;
}

.xhr-loading {
	font-size: 30px;
	padding: 10px;
	top: 40px;
	left: 40px;
	position: fixed;
	z-index: 2000;

	border-radius: 40px;
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.75);
}

.event_calendar {
	.modal-dialog {
		max-width: 750px;
		a { background-color: white; }

		.close { padding: 15px 0 5px 0; }
	}

	// Screen centring solution
	// thanks http://stackoverflow.com/questions/18422223/bootstrap-3-modal-vertical-position-center
	@media only screen and (min-width: 768px) {
	  .modal {
	    text-align: center;
	  }
	  .modal:before {
	    display: inline-block;
	    vertical-align: middle;
	    content: " ";
	    height: 80%;
	  }
	  .modal-dialog {
	    display: inline-block;
	    text-align: left;
	    vertical-align: middle;
	  }
	  .modal.fade .modal-dialog {
	    -webkit-transform: scale(0.9);
	    -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	    transform: scale(0.9);
	    opacity: 0;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	  }
	  .modal.fade.in .modal-dialog {
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	    //-webkit-transform: translate3d(0, -300px, 0);
	    //transform: translate3d(0, -300px, 0);
	    opacity: 1;
	  }
	}
}

// event_[add|edit].html
.event_form {

	input[type="submit"] {
		margin: 3rem 0;
	}

	// This is to stop excess whitespace
	@media (min-width: $screen-md-min) {
		.date-input .form-group {
			margin-bottom: 0;
		}
	}

	// Some styling to get the input element to appear correctly
	// This bit is just kind of gross but required cos of the way typeahead.js works :(
	span.twitter-typeahead {
		width: 100%;
		display: table-cell !important;	// If we don't !important, it gets overriden by script

		input#location_text { // This much specificity overrides Bootstrap
			border-radius: $border-radius-base;
			@include border-left-radius(0);
		}
	}

	.tt-dropdown-menu {
		background-color: white; border: 1px solid #aaa; width: 500px;
		p { margin: 0; padding: 10px; }
	}

	.tt-suggestion.tt-cursor { background-color: #ddd; }
	.tt-selected { background-color: lighten($brand-success, 40%) !important; }
}

// event_page.html
.event {
	.button-list .btn {
		margin-right: 0.5em;
	}

	.header-title {
		color: black;
		font-weight: 700;
		font-size: floor(($headings-size-base * 3.2));
	}

	.header-date {
		color: black;
		font-weight: 200;
		font-size: 30px;
		margin-bottom: 20px;
	}

	.img {
		background: url("http://api.ning.com/files/a8yFieGq6xqi92JtUXmbI7z6w59H2RKgNzMtZtvq2MaNfpzVwuExGqJ4iZ1lvscEZ8jebnC8V5wMpK*6yLPJWzMyvMR1oCVC/223470_1031354102634_1188814802_30087004_1015_n2.jpg") #eee no-repeat;
		background-size: cover;
		height: 150px;
	}

	.jumbo {
		margin-bottom: $line-height-computed;
	}
}

// login.html
#loginbox { margin-top: 2em; margin-bottom: 6em; }

// locations.html
.locations {
	td:nth-child(2) { min-width: 11em; }
	td h4 { margin-top: 0; }
}

// about.html
.about {
	#contents {
		width: 15em; margin-top: 3em; border-top: 2px solid $brand-primary;
		ul { margin-top: 1em; margin-left: 0; padding-left: 0; list-style-type: none; }
		li { margin-bottom: 5px; margin-left: 10px; }
	}
}

// admin.html
.admin {
	.blurb { max-width: 45em; }
	.date { min-width: 12em; }
}

// feeds.html
.admin.feeds {

	// Only do two-column layout on bigger screens
	@media (min-width: $screen-md-min) {
		.feedlist { /* Masonry container */
			-moz-column-count: 2;
			-moz-column-gap: 1em;
			-webkit-column-count: 2;
			-webkit-column-gap: 1em;
			column-count: 2;
			column-gap: 1em;
		}
	}

	.feed {
		display: inline-block;
		margin: 0 0 1em;
		width: 100%;

		padding: 0 10px;
		border-radius: 4px;
	    border: 1px solid $brand-primary;
	}

	.feed-error {
		border-color: $state-danger-border;
		background: $state-danger-bg;
	}
}
