$sidebar-bg-color: transparent;
$sidebar-box-color: #eee;
$sidebar-box-hover-color: #ccc;
$sidebar-box-radius: 4px;

/* $sidebar-bg-color: #ddd;
$sidebar-box-color: white;
$sidebar-box-hover-color: #ccc;
$sidebar-box-radius: 6px; */

%sidebar-box {
	padding: 10px;
	border-radius: $sidebar-box-radius;
	margin-bottom: 0.5em;
	background-color: $sidebar-box-color;
}

.sidebar {
	background-color: $sidebar-bg-color;

	h2 { color: #4d4d4d; }

	.sozial-media {
		@extend %sidebar-box;
		ul { @include list-unstyled; }
		li { margin-bottom: 6px; }
		a { padding: 4px 5px 4px 0; }
		a:hover { background-color: $sidebar-box-hover-color; }
		a:hover { text-decoration: none; }
	}

	.news {
		@include list-unstyled;
		li { @extend %sidebar-box; }
		li:hover { background-color: $sidebar-box-hover-color; }
		a:hover { text-decoration: none; }
	}
}
