$sidebar-bg-color: transparent;
$sidebar-box-bg-color: #eee;
$sidebar-box-hover-color: #ddd;
$sidebar-box-radius: 4px;

%sidebar-box {
	padding: 10px;
	border-radius: $sidebar-box-radius;
	margin-bottom: 0.5em;
	background-color: $sidebar-box-bg-color;
}

.sidebar {
	background-color: $sidebar-bg-color;

	.sidebar-header { color: #4d4d4d; }

	.sozial-media {
		@extend %sidebar-box;
		ul { @include list-unstyled; }
		li { margin-bottom: 6px; }
		a { padding: 4px 5px 4px 0; }
		a:hover { text-decoration: none; }
	}

	.sidebar-list {
		@include list-unstyled;
		li { @extend %sidebar-box; }
		li:hover { background-color: $sidebar-box-hover-color; }
		a {
			color: $text-color;
			.title { color: $link-color; }
		}
		a:hover {
			text-decoration: none;
			.title { color: $link-hover-color; }
		}
	}
}
