.stat-row {
	@include clearfix;

	.stat {
		margin-right: 20px;
		float: left;
	}
}

.stat {
	width: 130px;
	padding: 10px 10px;
	font-family: $font-family-serif;
	text-align: center;

	background-color: $gray-lighter;
}

.stat-num {
	display: block;
	font-size: 200%;
	line-height: 1.5;
	font-feature-settings: "lnum";
}

.stat-below, .stat-above {
	text-transform: uppercase;

	color: #888;
}

.stat-primary {
	background-color: $brand-primary;
	.stat-num { color: #fff; }
	.stat-below, .stat-above { color: #eee; }
}

.stat-link:hover .stat-primary {
	background-color: darken($brand-primary, 10%);
}

.stat-warning {
	background-color: $brand-warning;
	.stat-num { color: #fff; }
	.stat-below, .stat-above { color: #eee; }
}

.stat-link:hover .stat-warning {
	background-color: darken($brand-warning, 10%);
}

.stat-action {
	background-color: $brand-info;
	.stat-num { color: #fff; }
	.stat-below, .stat-above { color: #eee; }
}

.stat-link:hover .stat-action {
	background-color: darken($brand-info, 10%);
}
