// Echo's Bootstrap overrides
// List of variables here: http://getbootstrap.com/customize/#less-variables

// really like this colour: #E6781C;

// Colours
$brand-primary:     #8fbc8f;
$brand-primary-l15: lighten($brand-primary, 15%);
$link-color:        #2869B6;

// Fonts
$font-family-sans-serif:  Helvetica, Arial, sans-serif;
$font-family-serif:       Raleway, $font-family-sans-serif;
$font-family-base:        $font-family-sans-serif;
$font-size-base:          14px;

$headings-font-family:    $font-family-serif;
$headings-font-weight:    bold;
$headings-size-base:      14px;
$font-size-h1:            floor(($headings-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($headings-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($headings-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($headings-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $headings-size-base !default;
$font-size-h6:            ceil(($headings-size-base * 0.85)) !default; // ~12px

// Navbar
$navbar-height:                 55px;
$navbar-margin-bottom:          0;
$navbar-border-radius:          0;
$navbar-default-color:          black;
$navbar-default-bg:             $brand-primary;
$navbar-default-border:         transparent;
$navbar-default-link-color:     $navbar-default-color;

// Jumbotron
$jumbotron-padding:             5px;
$jumbotron-bg:                  $brand-primary-l15;
$jumbotron-font-size:           $font-size-base;

// Breadcrumbs
$breadcrumb-bg:                 transparent;
$breadcrumb-color:              #666;