////////// BOOTSTRAP //////////

$navbar-default-bg: #ddd;

@import "bootstrap";

////////// GLOBAL STYLES //////////

h1, h2, h3, h4, h5, h6, nav { font-family: "Raleway"; }
h2 { font-weight: bold; }
nav.navbar-default { border-bottom-width: 2px; border-radius: 0; border-bottom-color: black; }
footer { text-align: center; background-color: #eee; padding: 5px 0; margin: 1em 0; }
footer p { margin-bottom: 0; font-size: 85%; }

#map-canvas { width: 100%; height: 300px; }

// This makes scrolling to the bottom feel a bit more satisfying
.leftcontent, footer { margin-bottom: 3em; }

// Generic effects we might want to re-use
%box {
	border: 1px solid #eee;
	// Shadow filched from Material Design
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	margin-bottom: 20px;
}

// Separate from 'box' because it might not always be desirable
%boxhover {
	&:hover {
		a { text-decoration: none; }
		background-color: #eee; cursor: pointer;
	}
}

////////// INDIVIDUAL PAGE STYLES //////////

// index.html
.index {
	ul.news { clear: both; margin-left: 0; padding-left: 1em; }
	ul.news li { margin-bottom: 0.5em; }
	h3 small { margin-left: 10px; }

	#more { margin-top: 2em; }

	.add-yours {
		@extend %box;
		@extend %boxhover;

		// NB: Bootstrap applies also 10px bottom margin
		p { text-align: center; line-height: 100px; font-size: 200%; } 

		a { color: #555; }
		&:hover a { color: #337ab7; } // FIXME: colour should use the var for anchor colour
	}

	.event-box {
		@extend %box;
		@extend %boxhover;

		& > * { padding-left: 15px; padding-right: 15px; }

		.head { padding-top: 10px; color: #555; }
		.foot {
			i { margin-left: -20px; }

			background-color: #eee;
			margin-bottom: 0; // We want this to extend to the bottom of the box
			padding: 10px 10px 10px 30px; // This 30px and the -20px below match up
		}
	}
}

// event_page.html
.event h2 { margin-top: 0; }

div.img {
  background: url("http://api.ning.com/files/a8yFieGq6xqi92JtUXmbI7z6w59H2RKgNzMtZtvq2MaNfpzVwuExGqJ4iZ1lvscEZ8jebnC8V5wMpK*6yLPJWzMyvMR1oCVC/223470_1031354102634_1188814802_30087004_1015_n2.jpg")
    #eee no-repeat;
  background-size: cover;
  height: 150px;
}

// login.html
#loginbox { margin-top: 2em; margin-bottom: 6em; }
