// Import some of bootstrap
@import "_variables.scss";
@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass/assets/stylesheets/bootstrap/type";

html { font-family: sans-serif; }
#calendar { background-color: white; }
// #popup { @extend %eventpopup; }
th { background-color: #eee; }
