{% extends "fancy.html" %}

{% block subject %}{{ subject }}{% endblock %}

{% block content %}
<style>
.event a {
	font-weight: bold;
	font-size: 16px;
}
</style>

{{ body | markdown }}

<h2>Events coming up:</h2>

{% for chunk in events.ordered %}
	{% for event in chunk.events %}

	<p class="event">
		<a class="title" href="https://echomanchester.net{{ event.absoluteURL }}?pk_campaign=newsletter">{{ event.title }}</a><be>
		<i class="date">{{ event.startdt.format("dddd D MMMM, h:mma") }}</i><br>
		<span class="blurb">{{ event.shortBlurb(false, 180) }}</span>
	</p>

	{% endfor %}
{% endfor %}

{% endblock %}

{% block footer %}
<p>To subscribe to this newsletter, email <a href="mailto:echomanchester-subscribe@lists.riseup.net">echomanchester-subscribe@lists.riseup.net</a><br>
To unsubscribe, email <a href="mailto:echomanchester-unsubscribe@lists.riseup.net">echomanchester-unsubscribe@lists.riseup.net</a></p>
{% endblock %}
