{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% set reset_link = "https://echomanchester.net/user/password/reset/" + user.pwreset|url_encode %}

{% block content %}
<p>
	Someone (you, we hope!) requested a password reset for your account on
	https://echomanchester.net.
</p>
<p>
	If you'd like to continue this process, <a href="{{ reset_link }}">click to
		set a new password</a> &ndash; or, if your e-mail program is giving you
	trouble, copy and paste this link into your web browser:
</p>
<blockquote><code>{{ reset_link }}</code></blockquote>
<p>
	If this <i>wasn't</i> you, please forward this message to
	<code>support@echomanchester.net</code> so that we can make sure someone isn't
	making a concerted effort to break into the site! Meanwhile, rest
	assured that whoever sent the request still doesn't know for sure whether you
	even have an account.
</p>
{% endblock content %}
