{% macro eventbox(evt, opts) %}
	{# opts = { fullDate = true|false } #}

	<div class="eventbox">
		<div class="date">
			<p>
				{% if opts.fullDate %}
					{{ evt.startdt.format("ddd D MMM") }}
				{% endif %}

				{# if !evt.isMultiDay() #}
					{% if evt.allday %}
						All day
					{% else %}
						{{ evt.startdt.format("HH:mm") }}
					{% endif %}
				{# endif #}

				{% if evt.enddt %}
					{% if !evt.isMultiDay() && !evt.allday %}
						&ndash; {{ evt.enddt.format("HH:mm") }}
					{% else %}
						until<br>

						{% if evt.isMultiDay() %}
							{{ evt.enddt.calendar() }}
						{% endif %}

						{% if !evt.allday %}
							{{ evt.enddt.format("HH:mm") }}
						{% endif %}
					{% endif %}
				{% endif %}
			</p>

			{% if user.rights === 'admin' or user.rights === 'editor' %}
			<p class="button-list">
				<a href="/admin/event/{{ event_.id }}/edit" class="btn btn-xs btn-default">edit</a>
				<a href="/admin/event/{{ event_.id }}/reject" class="btn btn-xs btn-default">reject</a>
			</p>
			{% endif %}
		</div>

		<div class="main">
			<a href="{{ evt.absoluteURL }}"><h4>{{ evt.title }}</h4></a>

			<div class="blurb">
				{{ evt.blurbAsHTML() }}
			</div>

			<ul class="meta">

			{% if evt.host %}
				<li><i class="fa fa-fw fa-group"></i> Hosted by <b>{{ evt.host }}</b></li>
			{% endif %}
				<li><i class="fa fa-fw fa-map-marker"></i> {{ evt.shortLocation }}</li>
			{% if event_.url %}
				<li>
				{% if (event_.url | hostname) == "facebook.com" %}
					<i class="fa fa-fw fa-facebook"></i> <a href="{{ event_.url }}" target="_blank">Facebook event</a>
				{% else %}
					<i class="fa fa-fw fa-external-link"></i> More info at <a href="{{ event_.url }}" target="_blank">{{ event_.url | hostname }}</a>
				{% endif %}
				</li>
			{% endif %}
				<li><i class="fa fa-fw fa-chain"></i> <a href="{{ evt.absoluteURL }}">Link to this event</a></li>
			</ul>
		</div>
	</div>
{% endmacro %}



{% macro ongoing(evt, opts) %}
	{# opts = { fullDate = true|false } #}

	<div class="eventbox ongoing">
		<div class="main">
			<a href="{{ evt.absoluteURL }}"><h4>{{ evt.title }}</h4></a>

			{% if user.rights === 'admin' or user.rights === 'editor' %}
			<p>
				<a href="/admin/event/{{ event_.id }}/edit" class="btn btn-xs btn-default">edit</a>
				<a href="/admin/event/{{ event_.id }}/reject" class="btn btn-xs btn-default">reject</a>
			</p>
			{% endif %}
		</div>

		<div class="date">
			<p><i>ends<br>{{ evt.enddt.calendar() }}</i></p>
		</div>
	</div>
{% endmacro %}
