{% macro eventbox(evt, opts) %}
	{# opts = { close (boolean), linkBox (boolean), longblurb (boolean) } #}

	{% if opts.close %}
	<div class="fullwidth">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
	</div>
	{% endif %}

	{% if opts.linkBox %}
		<a href="{{ evt.absoluteURL }}"
	{% else %}
		<div
	{% endif %}
		class="eventbox
			{% if !opts.longblurb %}eventbox-shortblurb{% endif %}
			{% if opts.linkBox %}eventbox-link{% endif %}
		">

		<div class="date">
			{% if !evt.isMultiDay() %}
				{% if evt.allday %}
					All day
				{% else %}
					{{ evt.startdt.format("HH:mm") }}
				{% endif %}
			{% endif %}

			{% if evt.enddt %}
				{% if !evt.isMultiDay() && !evt.allday %}
					&ndash; {{ evt.enddt.format("HH:mm") }}
				{% else %}
					until<br>

					{% if evt.isMultiDay() %}
						{{ evt.enddt.calendar() }}
					{% endif %}

					{% if !evt.allday %}
						{{ evt.enddt.format("HH:mm") }}
					{% endif %}
				{% endif %}
			{% endif %}
		</div>

		<div class="main">
			<h4>{{ evt.title }}</h4>

			<div class="blurb">
				{{ evt.blurbAsHTML({ link: !opts.linkBox }) }}
			</div>

			{% if evt.host %}<p class="host">Hosted by <b>{{ evt.host }}</b></p>{% endif %}
			<p class="location">{{ evt.shortLocation }}</p>

			{% if !opts.linkBox %}
				{% if event_.url %}
					<p class="outerurl">
					{% if (event_.url | hostname) == "facebook.com" %}
						<i class="fa fa-fw fa-facebook"></i> <a href="{{ event_.url.href }}" target="_blank">Facebook event</a>
					{% else %}
						<i class="fa fa-fw fa-external-link"></i> <a href="{{ event_.url.href }}" target="_blank">More info at {{ event_.url | hostname }}</a>
					{% endif %}
					</p>
				{% endif %}
				<p class="perma"><a href="{{ evt.absoluteURL }}"><i class="fa fa-fw fa-chain"></i> Link to this event</a></p>
			</small>
			{% endif %}
		</div>

	{% if opts.linkBox %}
		</a>
	{% else %}
		</div>
	{% endif %}

{% endmacro %}
