{% macro iconStart(opts) %}
	{% if opts.icon %}
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-fw {{ opts.icon }}"></i></div>
	{% endif %}
{% endmacro %}

{% macro iconEnd(opts) %}
	{% if opts.icon %}
		</div>
	{% endif %}
{% endmacro %}

{% macro helpText(opts) %}
	{% if opts.helpText %}
		<p id="{{opts.field}}Help" class="help-block">{{ opts.helpText }}</p>
	{% endif %}
{% endmacro %}

{% macro checkErrors(field) %}
	{% for err in errors %}
		{% if err.path == field %}
			<p class="text-danger">Error: {{ err.message }}</p>
		{% endif %}
	{% endfor %}
{% endmacro %}

{% macro inputText(opts) %}
	{# opts = { label, placeholder, field, fill, icon, class, helpText } #}

	<div class="form-group">
		<label for="{{ opts.field }}">{{ opts.label }}</label>

		{{ iconStart(opts) }}
		<input class="form-control long {{ opts.class }}"
			name="{{ opts.field }}"
			type="text"
			id="{{ opts.field }}"
			{% if opts.placeholder %} placeholder="{{ opts.placeholder }}" {% endif %}
			{% if opts.fill %}        value="{{ opts.fill }}" {% endif %}
			{% if opts.helpText %}    aria-describedBy="{{ opts.field }}Help" {% endif %}
		>
		{{ iconEnd(opts) }}
		{{ checkErrors(opts.field) }}
		{{ helpText(opts) }}
	</div>
{% endmacro %}

{% macro inputHidden(opts) %}
	{# opts = { field, fill } #}

	<input
		name="{{ opts.field }}"
		type="hidden"
		id="{{ opts.field }}"
		{% if opts.fill %}     value="{{ opts.fill }}" {% endif %}
	>
{% endmacro %}

{% macro inputCheckbox(opts) %}
	{# opts = { label, field, checked } #}

	<div class="checkbox">
		<label for="{{ opts.field }}">
			<input
				type="checkbox"
				name="{{ opts.field }}"
				id="{{ opts.field }}"
				{% if opts.checked %} checked {% endif %}
			>
			{{ opts.label }}
		</label>
	</div>

{% endmacro %}

{% macro textarea(opts) %}
	{# opts = { label, field, fill, helpText, rows } #}

	<div class="form-group">
		<label for="{{ opts.field }}">{{ opts.label }}</label>

		<textarea class="form-control"
			name="{{ opts.field }}"
			id="{{ opts.field }}"
			rows="{{ opts.rows || 5 }}"
			{% if opts.helpText %} aria-describedBy="{{ opts.field }}Help" {% endif %}
		>{{ opts.fill }}</textarea>

		{{ checkErrors(opts.field) }}
		{{ helpText(opts) }}
	</div>
{% endmacro %}

{% macro inputPassword(opts) %}
	{# opts = { label, field } #}

	<div class="form-group">
		<label for="{{ opts.field }}">{{ opts.label }}</label>

		{{ iconStart(opts) }}
		<input class="form-control long"
			name="{{ opts.field }}"
			type="password"
			{% if opts.fill %}		value="{{ opts.fill }}" {% endif %}
			{% if opts.helpText %}	aria-describedBy="{{ opts.field }}Help" {% endif %}
		>
		{{ iconEnd(opts) }}
		{{ checkErrors(opts.field) }}
		{{ helpText(opts) }}
	</div>
{% endmacro %}

{% macro inputDateTime(opts) %}
	{# opts = { label, field, fill } #}

	<div class="form-group datetime">
		<label class="title" for="{{ opts.field}}">{{ opts.label }}</label>

		<div class='input-group date'>
			<input class="required form-control" type="text" id="{{ opts.field }}"
				placeholder="Click to choose a date" data-date-format="YYYY/MM/DD hh:mm"
				name="{{opts.field}}" value="{{ opts.fill }}">
			<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
		</div>

		{{ checkErrors(opts.field) }}
	</div>
{% endmacro %}

{% macro inputSubmit(text, Class) %}
	<input
	{% if Class %}
		class="btn {{Class}}"
	{% else %}
		class="btn btn-primary btn-lg"
	{% endif %}
		type="submit" value="{{ text }}">
{% endmacro %}
