{% if paginate.hasPreviousPages or paginate.hasNextPages(pageCount) %}
<div class="navigation well-sm" id="pagination">
	<ul class="pager">
  {% if paginate.hasPreviousPages %}
  	<li class="previous"><a href="{{ paginate.href(true) }}" class="prev">
			<i class="fa fa-arrow-circle-left">Previous</i>
		</a></li>
	{% endif %}
	{# FIXME: loop over pages to draw per-page links #}
  {% if paginate.hasNextPages(pageCount) %}
  	<li class="next"><a href="{{ paginate.href() }}" class="prev">
			<i class="fa fa-arrow-circle-right">Next</i>
		</a></li>
	{% endif %}
	</ul>
</div>
{% endif %}
