{% extends "layout.html" %}

{% macro dashBox(opts) %}
	{% if opts.link %}<a class="stat-link" href="{{ opts.link }}">{% endif %}
	<div class="stat {% if opts.warning !== undefined || opts.link %}
		stat-{% if opts.warning %}warning
		     {% elseif opts.warning !== undefined %}primary
		     {% else %}action{% endif %}
		     {% endif %}">
		<span class="stat-above">{{ opts.above }}</span>
		<span class="stat-num">{{ opts.num | safe}}</span>
		<span class="stat-below">{{ opts.below }}</span>
	</div>
	{% if opts.link %}</a>{% endif %}
{% endmacro %}

{% block title %}Administrative dashboard{% endblock %}
{% block pageclass %}admin{% endblock %}

{% block header %}
<ol class="breadcrumb">
	<li><a href="/">Echo</a></li>
	<li><a href="/admin">Admin</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="fullwidth">

			{{ checkMessages() }}

			<h2>Dashboard</h2>

			<div class="stat-unit">
				<h3>Events</h3>
				<div class="stat-row">
					{{ dashBox({
						num: stats.events.imported + stats.events.submitted,
						below: 'to be approved',
						warning: stats.events.imported + stats.events.submitted,
						link: '/admin/events'
					}) }}

					{{ dashBox({
						num: stats.events.approved,
						below: 'currently live'
					}) }}

					{{ dashBox({
						num: stats.eventsComingUp,
						below: 'in the future',
						warning: !Math.max(0, stats.eventsComingUp - 7)
					}) }}
				</div>
			</div>

			<div class="stat-unit stat-pad-left">
				<h3>Newsletter</h3>
				<div class="stat-row">
					{{ dashBox({
						above: stats.lastNewsletterSent.aboveText,
						num: stats.lastNewsletterSent.number,
						below: stats.lastNewsletterSent.belowText,
						warning: stats.lastNewsletterSent.warning
					}) }}

					{{ dashBox({
						num: '<i class="fa fa-envelope"></i>',
						below: 'Send newsletter',
						link: '/admin/newsletter'
					}) }}
				</div>
			</div>

			<div class="stat-unit">
				<h3>Feeds</h3>
				<div class="stat-row">
					{{ dashBox({
						num: stats.feeds.total,
						below: 'in total'
					}) }}

					{{ dashBox({
						num: stats.feeds.errors,
						below: 'errors',
						warning: stats.feeds.errors,
						link: '/admin/feeds'
					}) }}

					{{ dashBox({
						num: '<i class="fa fa-feed"></i>',
						below: 'Add feed',
						link: '/admin/feeds'
					}) }}
				</div>
			</div>

			<div class="stat-unit stat-pad-left">
				<h3>Locations</h3>
				<div class="stat-row">
					{{ dashBox({
						num: stats.locations.total,
						below: 'in total'
					}) }}

					{{ dashBox({
						num: '<i class="fa fa-map-marker"></i>',
						below: 'Add new',
						link: '/admin/locations/add'
					}) }}
				</div>
			</div>

			<!-- XXX padding -->
			<div style="min-height: 5em;"></div>

		</div>
	</div>
</div>
{% endblock %}
