{% extends "layout.html" %}

{% block pageclass %}admin{% endblock %}

{% block leftcontent %}

<h2>Administration</h2>
<p>
	Welcome to the admin area. Have fun!
</p>

<h3>Events awaiting moderation</h3>

{% for chunk in events %}
	{% if chunk.shortDate %}
		<h3>{{ chunk.shortDate }} <small>{{ chunk.longDate }}</small></h3>
	{% else %}
		<h3>{{ chunk.longDate }}</h3>
	{% endif %}

	{% for event in chunk.events %}
		{% if loop.first %}

		<div class="event event-expanded">
			<h4><b>{{ event.startdt.format("ha") }}</b>, <a href="/event/{{ event.id }}">{{ event.title }}</a></h4>
			<p><i class="fa fa-map-marker"></i> {{ event.location }}
			<p>{{ event.blurbAsHTML() }}
			<p>more info at <i class="fa fa-external-link"></i>
				<a href="{{ event.url.href }}" target="_blank">{{ event.url.hostNoWww }}</a>
		</div>

		{% else %}

		<div class="event">
		<h4><b>{{ event.startdt.format("ha") }}</b>, <a href="/event/{{ event.id }}">{{ event.title }}</a></h4>
		</div>

		{% endif %}
	{% endfor %}
{% endfor %}
{% endblock %}


{% block rightcontent %}
{% endblock %}
