<!DOCTYPE html>
<title>Echo Manchester</title>

<meta tag="robots" content="noindex">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:700,500">
<link rel="stylesheet" type="text/css" href="{{ statichost }}/bower_components/fullcalendar/dist/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="{{ statichost }}/stylesheets/echo.css">
<link rel="stylesheet" type="text/css" href="{{ statichost }}/stylesheets/embed.css">
<link rel="stylesheet" href="{{ statichost }}/bower_components/fontawesome/css/font-awesome.min.css " />

<script src="{{ statichost }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ statichost }}/bower_components/moment/min/moment.min.js"></script>
<script src="{{ statichost }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="{{ statichost }}/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>

<noscript>Sorry, to view this calendar you must have Javascript support enabled.</noscript>

<div id="calendar"></div>

<div class="xhr-loading hidden">
	<i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</div>

<div class="popup-template modal fade" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content"> <!-- only in error cases is this shown -->
			<div class="modal-body">
				Sorry, there was a problem loading the event.  Please try again.
				<button type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		</div>
	</div>
</div>

<script>

// Fetch and show an event card
function showEvent(evt, domevent) {
	var id = evt.id;
	var _timeout;

	startLoading = function startLoading() {
		// Timeout to avoid flashing the timer
		_timeout = window.setTimeout(function() {
			$(".xhr-loading").removeClass("hidden");
		}, 500);
	};

	stopLoading = function stopLoading() {
		window.clearTimeout(_timeout);
		$(".xhr-loading").addClass("hidden");
	};

	// Clone our template
	var newPopup = $('.popup-template').clone();
	newPopup.removeClass('hidden');
	newPopup.attr('id', 'popup');	// Consider making this ID unique
	newPopup.attr('aria-hidden', 'false');
	$('body').append(newPopup);

	startLoading();

	$("#popup .modal-dialog").load("/event/" + id, function() {
		// We don't check status because if the content wasn't loaded, the
		// HTML template already has an error message.  If the content is
		// loaded, then it's overwritten.

		stopLoading();
		$("#popup").modal();
		$("#popup").on('hidden.bs.modal', function() {
			// Remove from the DOM when done
			$("#popup").detach();
		});
	});

	return false;
}

$(document).ready(function() {

	$('#calendar').fullCalendar({
		events: '/api/json',
		defaultDate: moment(),
		fixedWeekCount: false,
		firstDay: 1,	// Start on Monday
		timeFormat: 'h(:mm)a',

		eventBackgroundColor: "#eee",
		eventBorderColor: "#ccc",
		eventTextColor: "black",

		eventClick: showEvent,
	})

});
</script>
