{% extends "layout.html" %}
{% import "formmacros.html" as form %}

{% block title %}Edit event {{ event_.id }}{% endblock %}
{% block pageclass %}event_form{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/">Echo</a></li>
	<li><a href="/admin">Admin</a></li>
	<li><a href="/admin/event/{{ event_.id }}">{{ event_.slug }}</a></li>
	<li>Edit</li>
</ol>
{% endblock %}

{% block leftcontent %}

<h2>{% block title %}{% endblock %}</h2>

{% if errors %}
<p class="alert alert-danger"><b>There were problems validating your form.</b>	Please see below for more details.
{% endif %}

<form method="POST" action="{% block form_action %}/admin/event/{{ event_.id }}/edit{% endblock %}">
	{{ form.inputText({
		label: "Event name:",
		field: "title",
		fill: event_.title,
		class: "input-lg" }) }}

	<div class="row date-input">
		<div class="col-md-6">
			{{ form.inputDateTime({
				label: "Starts:",
				field: "startdt",
				fill: event_.startdt.format('YYYY/MM/DD HH:mm') }) }}
		</div>

		<div class="col-md-6">
			{{ form.inputDateTime({
				label: "Ends:",
				field: "enddt",
				fill: event_.enddt.format('YYYY/MM/DD HH:mm') }) }}
		</div>
	</div>

	{{ form.checkErrors("startBeforeEnd") }}

	<div class="checkbox">
		<label>
			<input type="checkbox" name="allday" id="allday"
				{% if event_.allday %}checked="checked"{% endif %}>
			This event lasts all day
		</label>
	</div>

	{{ form.inputText({
		label: "Location:",
		field: "location_text",
		fill: event_.shortLocation,
		icon: "fa-map-marker" }) }}
	{{ form.inputHidden({ field: "location_id", fill: event_.location_id }) }}

	{{ form.checkErrors("locationEmpty") }}

	{{ form.inputText({ 
		label: "What group or organisation is putting on the event?",
		field: "host", 
		fill: event_.host, 
		icon: "fa-group" }) 
	}}

	<div class="form-group">
		<label class="title" for="blurb">Event description:</label>
		<textarea class="form-control required" name="blurb" id="blurb" rows="8"
			aria-describedby="blurbHelp">{{ event_.blurb }}</textarea>
		{{ form.checkErrors("blurb") }}
		<p id="blurbHelp" class="help-block">
			Please include information about booking if you have to book.<br>
			Maximum 150 words.
			Currently <span id="wordcount">0</span> / 150.
		</p>
	</div>

	<div class="form-group">
		<label>Price:</label>
		<div class="radio">
			<label for="cost_free">
				<input type="radio" name="cost" id="cost_free" value="free"
					{% if event_.cost == 'free' %}checked="checked"{% endif %}> Free
			</label>
		</div>
		<div class="radio">
			<label for="cost_paid">
				<input type="radio" name="cost" id="cost_paid"
				{% if event_.cost != 'free' %}checked="checked"{% endif %}> It costs
			</label>
			<input type="text" name="cost_fee" id="cost_fee"
				style="width: 220px; display: inline-block; margin-left: 0.5em;" class="form-control" placeholder="how much?">

			{{ form.checkErorrs("cost_fee") }}
		</div>
	</div>

	{{ form.inputText({ label: "URL for more info:", field: "url", fill: event_.url, icon: "fa-link" }) }}
	{{ form.inputText({ label: "Your email:", field: "email", fill: event_.email, icon: "fa-envelope",
					helpText: "This is not made public, but we will let you know when your event is approved." }) }}

	{% block button %}{{ form.inputSubmit("Save changes") }}{% endblock %}
</form>
{% endblock %}

{% block script %}
<script src="{{ statichost }}/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
<script src="{{ statichost }}/bower_components/Countable/Countable.js"></script>
<script>

	$(function() {
		var locations = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			limit: 4,
			prefetch: {
				url: '/api/json/locations',
			}
		});

		// kicks off the loading/processing of the 'prefetch' list
		locations.initialize();

		$('#location_text').typeahead({
			hint: true,
			highlight: true,
			minLength: 1
		}, {
			name: 'locations',
			displayKey: 'name',
			// `ttAdapter` wraps the suggestion engine in an adapter that
			// is compatible with the typeahead jQuery plugin
			source: locations.ttAdapter(),
			templates: {
				'suggestion': function(suggestion) {
					return '<p>' + suggestion.name + '<br><small>' + suggestion.address + '</small></p>';
				}
			}
		});

		// Set up event handlers to select a location ID & to deselect it
		function select(evt, suggestion) {
			$("#location_text").addClass("tt-selected");
			$("#location_id").val(suggestion.id);
		}

		function deselect(evt) {
			$("#location_text").removeClass("tt-selected");
			$("#location_id").val("");
		}

		$('#location_text')
			.on("typeahead:selected", select)
			.on("typeahead:autocompleted", select)
			.on("keydown", function(evt) {
				// Backspace or Delete
				if (evt.charCode == 0 &&
					(evt.keyCode == 8 || evt.keyCode == 46)) deselect(evt);
			})
			.on("keypress", deselect);

		// Work out if we already have an ID provided and update text field accordingly
		if ($("#location_id").val() > 0) {
			$("#location_text").addClass("tt-selected");
		}

		var dtps = [];
		var icons = {
			time:     'fa fa-clock-o',
			date:     'fa fa-calendar',
			up:       'fa fa-arrow-up',
			down:     'fa fa-arrow-down',
			previous: 'fa fa-chevron-left',
			next:     'fa fa-chevron-right',
			today:    'fa fa-crosshairs',
			clear:    'fa fa-chevron-trash-o',
			close:    'fa fa-remove'
		};

		$('.date').each(function(i, e) {
			var dtp = $(e).find("input")
					.datetimepicker({ icons: icons })
					.data('DateTimePicker');

			$(e).find("span.input-group-addon").click(function() {
				dtp.show();
				return false;
			});

			dtps.push(dtp);
		});

		$('#allday').change(function(e) {
			dtps.forEach(function(el, i, a) {
				if (typeof el === 'undefined') {
					return false;
				}

				if ($(e.target).is(':checked')){
					el.format('YYYY/MM/DD');
				} else {
					el.format('YYYY/MM/DD HH:mm');
				}
			});
		}).trigger('change');
		Countable.live($('#blurb')[0], function(counter) {
				$('#wordcount').text(counter.words);
		});
	});
</script>
{% endblock %}
