{% extends "layout.html" %}
{% import "_eventbox.html" as eventbox %}

{# FIXME add a page title here #}
{% block pageclass %}event_calendar{% endblock %}

{% block header %}
<ol class="breadcrumb">
	<li><a href="/">Echo</a></li>
	<li><a href="/events">Events</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="fullwidth hidden-xs">
			<div id='calendar'></div>
		</div>

		<div class="fullwidth visible-xs eventlist">
			<h2>{{ month.format("MMMM YYYY") }}</h2>
			<ul class="pagination" style="margin: 0;">
				<li>
					<a href="/events/{{ month.clone().subtract(1, 'month').format("YYYY/MMM") | lower }}">
				        <span aria-hidden="true">&laquo;</span>
						{{ month.clone().subtract(1, 'month').format("MMMM YYYY") }}
					</a>
				</li>
				<li>
					<a href="/events/{{ month.clone().add(1, 'month').format("YYYY/MMM") | lower }}">
						{{ month.clone().add(1, 'month').format("MMMM YYYY") }}
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>

			{% for event_ in events %}
				{{ eventbox.eventbox(event_) }}
			{% endfor %}

			{# maybe later... #}
			{# include "_eventlist.html" #}
		</div>
	</div>
</div>

<!-- Templates / overlays -->

<div class="xhr-loading hidden">
	<i class="fa fa-circle-o-notch fa-spin"></i> Loading...
</div>

<div class="popup-template modal fade" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content"> <!-- only in error cases is this shown -->
			<div class="modal-body">
				Sorry, there was a problem loading the event.  Please try again. 
				<button type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="{{ statichost }}/bower_components/moment/min/moment.min.js"></script>
<script src="{{ statichost }}/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<style>@import "{{ statichost }}/bower_components/fullcalendar/dist/fullcalendar.min.css";</style>

<script>

// Fetch and show an event card
function showEvent(event_, ev) {
	var id = event_.id;
	var _timeout;

	startLoading = function startLoading() {
		// Timeout to avoid flashing the timer
		_timeout = window.setTimeout(function() {
			$(".xhr-loading").removeClass("hidden");
		}, 500);
	};

	stopLoading = function stopLoading() {
		window.clearTimeout(_timeout);
		$(".xhr-loading").addClass("hidden");
	};

	// Clone our template
	var newPopup = $('.popup-template').clone();
	newPopup.removeClass('hidden');
	newPopup.attr('id', 'popup');	// Consider making this ID unique
	newPopup.attr('aria-hidden', 'false');
	$('body').append(newPopup);

	startLoading();

	$("#popup .modal-dialog").load("/event/" + id, function() {
		// We don't check status because if the content wasn't loaded, the
		// HTML template already has an error message.  If the content is
		// loaded, then it's overwritten.

		stopLoading();
		$("#popup").modal();
		$("#popup").on('hidden.bs.modal', function() {
			// Remove from the DOM when done
			$("#popup").detach();
		});
	});

	return false;
}

$(document).ready(function() {

	// If the URL is just '/events' then we start at today's date
	var start = moment();
	if (location.pathname != "/events")
		start = moment(location.pathname, "YYYY/MMM");

	$('#calendar').fullCalendar({
		events: '/api/json',
		defaultDate: start,
		fixedWeekCount: false,
		firstDay: 1,	// Start on Monday
		timeFormat: 'h(:mm)a',

		eventBackgroundColor: "#eee",
		eventBorderColor: "#ccc",
		eventTextColor: "black",

		eventClick: showEvent,
		viewRender: function(view, element) {
			var viewdate = view.intervalStart;
			var urldate = moment(location.pathname, "YYYY/MMM");

			// if not valid it means we're at /events, with no date in the path, so
			// default to the current month
			if (!urldate.isValid())
				urldate = moment();

			// Only push state if the URL doesn't match the view
			// This means that we don't push new state when the browser tells us
			// to navigate backwards, only when the user clicks something.
			if (viewdate.format("YYYY-MM") != urldate.format("YYYY-MM")) {
				console.log("pushing now: ", view.intervalStart.toISOString());
				history.pushState(view.intervalStart.toISOString(),
					null,
					"/events/" + view.intervalStart.format("YYYY/MMM").toLowerCase());
			}
		}
	})

	window.addEventListener('popstate', function(e) {
		// No state indicates the current month
		$('#calendar').fullCalendar('gotoDate', history.state || moment().toISOString());
	});

});
</script>

{% endblock %}
