{% extends "layout.html" %}

{% block title %}Approve event{% endblock %}
{% block pageclass %}admin{% endblock %}

{% block header %}
<ol class="breadcrumb">
	<li><a href="/">Echo</a></li>
	<li><a href="/admin">Admin</a></li>
	<li><a href="/admin/event/{{ event_.id }}">{{ event_.id }}</a></li>
	<li>Approve?</li>
</ol>
{% endblock %}

{% block leftcontent %}
<form method="POST" action="/admin/event/{{ event_.id }}/approve">
	<div class="form-group">
		<label>Are you sure?</label>
		<button class="btn btn-success" type="submit">Yes</button>
		<a href="/admin/event/{{ event_.id }}" class="btn btn-default">Back to event</a>
	</div>
	<input id="next_" name="next_" type="hidden" value="{{ next }}">
</form>
{% endblock %}
