{% extends "layout.html" %}

{# FIXME add a page title here #}
{% block pageclass %}event_calendar{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="/">Echo</a></li>
	<li><a href="/events">Events</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="fullwidth">
			{# FIXME add search engine-friendly fallback content #}
			<div id='calendar'></div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script src="{{ statichost }}/bower_components/moment/min/moment.min.js"></script>
<script src="{{ statichost }}/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<style>@import "{{ statichost }}/bower_components/fullcalendar/dist/fullcalendar.min.css";</style>

<script>
$(document).ready(function() {

	// This detects clicks outside the popup and closes the window
	$(document).click(function(e) {
		var box = $("#popup");
		if (box && box.offset() && (
					e.pageX < box.offset().left ||
					e.pageX > box.offset().left+box.outerWidth() ||
					e.pageY < box.offset().top ||
					e.pageY > box.offset().top+box.outerHeight()
				)) {
			box.detach();
		}

		return true;
	});

	// Fetch and show an event card
	function showEvent(event_, ev) {
		var id = event_.id;

		// Clean up previous boxes
		$("#popup").detach();

		// Create a new box
		var html = '<div id="popup" class="modal fade">' +
				       '<div class="modal-dialog modal-lg">' +
				           '<div id="popup-content"></div>' +
				       '</div>' +
				   '</div>';
		$('body').append(html);

		// Request the info
		$("#popup-content").load("/event/" + id, function() {
			var popup = $("#popup");
			popup.modal();
		});

		return false;
	}

	// If the URL is just '/events' then we start at today's date
	var start = moment();
	if (location.pathname != "/events")
		start = moment(location.pathname, "YYYY/MMM");

	$('#calendar').fullCalendar({
		events: '/api/json',
		defaultDate: start,
		fixedWeekCount: false,
		firstDay: 1,	// Start on Monday
		timeFormat: 'h(:mm)a',

		eventBackgroundColor: "#eee",
		eventBorderColor: "#ccc",
		eventTextColor: "black",

		eventClick: showEvent,
		viewRender: function(view, element) {
			var viewdate = view.intervalStart;
			var urldate = moment(location.pathname, "YYYY/MMM");

			// if not valid it means we're at /events, with no date in the path, so
			// default to the current month
			if (!urldate.isValid())
				urldate = moment();

			// Only push state if the URL doesn't match the view
			// This means that we don't push new state when the browser tells us
			// to navigate backwards, only when the user clicks something.
			if (viewdate.format("YYYY-MM") != urldate.format("YYYY-MM")) {
				console.log("pushing now: ", view.intervalStart.toISOString());
				history.pushState(view.intervalStart.toISOString(),
					null,
					"/events/" + view.intervalStart.format("YYYY/MMM").toLowerCase());
			}
		}
	})

	window.addEventListener('popstate', function(e) {
		// No state indicates the current month
		$('#calendar').fullCalendar('gotoDate', history.state || moment().toISOString());
	});

});
</script>

{% endblock %}
