<div class="event-flex">
	<div class="date">
		{{ event_.startdt.calendar() }}
		{% if !event_.allday %}{{ event_.startdt.format("HH:mm") }}{% endif %}

	  {% if event_.enddt %}
	    &ndash;

	    {% if event_.isMultiDay() %}
	      {% if event_.allday %}
	        {{ event_.enddt.calendar() }}
	      {% else %}
	        {{ event_.enddt.calendar() }}, 
	      {% endif %}
	    {% endif %}

		{% if !event_.allday %}
			{{ event_.enddt.format("HH:mm") }}
		{% endif %}

	  {% endif %}

	</div>

	<div class="main">
		<h4>{{ event_.title }}</h4>

		{% if event_.host %}<p class="host"><i class="fa fa-fw fa-group"></i> Hosted by {{ event_.host }}</p>{% endif %}
	    <p class="location"><i class="fa fa-fw fa-map-marker"></i> {{ event_.shortLocation }}</p>

		<p class="blurb">{{ event_.shortBlurb() }}</p>
	</div>
</div>
