{% extends "layout.html" %}

{% block title %}{{ event_.title }}{% endblock %}
{% block pageclass %}event{% endblock %}
{% block meta %}

  <meta property="og:site_name" content="Echo Manchester">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@EchoManchester">

  <meta property="og:title" content="{{ event_.title }}">
  <meta name="twitter:title" content="{{ event_.title }}">

  <meta name="twitter:description" content="{{ event_.shortBlurb(false) }}">
  <meta property="og:description" content="{{ event_.shortBlurb(false) }}">

{% endblock %}

{% block leftcontent %}
<ol class="breadcrumb">
  <li><a href="/">Echo</a></li>
  <li><a href="/events">Events</a></li>
  <li><a href="/events/{{ event_.startdt.format("YYYY/MMM") }}">{{ event_.startdt.format("MMMM YYYY") }}</a></li>
</ol>
 
{# <div class="img"></div> one day... #}

<h4 class="date">{{ event_.startdt.format("dddd, Do MMMM, h:mma") }}</h4>
 
<h2>
  {{ event_.title }}
  {% if user.rights === 'admin' or user.rights === 'editor' %}
  <a href="/admin/event/{{ event_.id }}/edit" class="btn btn-xs btn-primary">edit</a>
  {% endif %}
</h2>

{% if event_.host %}
<p>Hosted by the <b>{{ event_.host }}</b></p>
{% endif %}

<p>{{ event_.blurbAsHTML() }}

<p><b>Cost:</b> {{ event_.cost|default("Free") }}</p>

{% if event_.url %}
<p><b>More information:</b>
  {% if event_.url.hostNoWww == "facebook.com" %}
    <i class="fa fa-fw fa-facebook"></i> <a href="{{ event_.url.href }}" target="_blank">Facebook</a>
  {% else %}
    <i class="fa fa-fw fa-external-link"></i> <a href="{{ event_.url.href }}" target="_blank">{{ event_.url.hostNoWww }}</a>
  {% endif %}
</p>
{% endif %}

<h3>Location</h3>
{% if event_.location %}
  <p><i class="fa fa-fw fa-map-marker"></i> <a href="/location/{{ event_.location.id }}">{{ event_.shortLocation }}</a></p>
  <div id="map-canvas"></div>
{% else %}
  <p><i class="fa fa-fw fa-map-marker"></i> {{ event_.shortLocation }}</p>
{% endif %}

{% endblock %}

{% block rightcontent %}
{% endblock %}

{% block script %}

{% if event_.location %}

<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCIIJrpahlkTrn1e4wkIujyzqCEfK_C9_M"></script>
<script>
  function initialize() {
    var myLatlng = new google.maps.LatLng({{ event_.location.latitude }}, {{ event_.location.longitude }});
    var mapOptions = {
      zoom: 15,
      center: myLatlng
    }
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var infowindow = new google.maps.InfoWindow({
        content: "<div style='width: 200px;'><b>{{ event_.location.name }}</b><br>{{ event_.location.addressAsHTML() }}</div>",
        maxWidth: 500
    });

    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: 'Hello World!'
    });

    infowindow.open(map, marker);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endif %}

{% endblock %}
