{% extends "layout.html" %}
{% import "formmacros.html" as form %}

{% macro inputIcon(type) %}
  <div class="input-group-addon"><i class="fa fa-fw {{ type }}"></i></div>
{% endmacro %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.datetime').datetimepicker()
    $('.datetime').on('dp.change', function(e){
      $(e.target).find('input[type=hidden]').val(e.date.unix());
    });
		$('.datetime').each(function(){
			var dt = $(this).find('input[type=hidden]').val();
			if (dt !== '') {
				$(this).data("DateTimePicker").setDate(
					moment.unix(dt)
				)
			}
		});
  });
</script>
{% endblock %}

{% block pageclass %}event_add{% endblock %}

{% block leftcontent %}
<ol class="breadcrumb">
  <li><a href="/">Echo</a></li>
  <li><a href="/events">Events</a></li>
  <li><a href="/events/add">Add Event</a></li>
</ol>

{% if errors %}
<p class="alert alert-danger"><b>There were problems validating your form.</b>  Please see below for more details.
{% endif %}

<form method="POST" action="/event/add">

	{{ form.inputText({ label: "Event name:", field: "title", fill: event_.title }) }}
	{{ form.inputDateTime({ label: "Starts:", field: "startdt", fill: event_.startdt }) }}
	{{ form.inputDateTime({ label: "Ends:", field: "enddt", fill: event_.enddt }) }}
	{{ form.inputText({ label: "Location:", field: "location", fill: event_.location, icon: "fa-map-marker" }) }}
	{{ form.inputText({ label: "What group or organisation is putting on the event?",
			field: "host", fill: event_.host, icon: "fa-group" }) }}

	<div class="form-group">
		<label class="title" for="blurb">Event description:</label>
		<textarea class="form-control required" name="blurb" id="blurb" rows="8"
			aria-describedby="blurbHelp">{{ event_.blurb }}</textarea>
		{{ form.checkErorrs("blurb") }}
		<p id="blurbHelp" class="help-block">
			Please include information about booking if you have to book.<br>
			Maximum 150 words.
			Currently <span id="wordcount">0</span> / 150.
		</p>
	</div>

	<div class="form-group">
		<label>Price:</label>
		<div class="radio">
			<label for="cost_free">
				<input type="radio" name="cost" id="cost_free" value="free"
					{% if event_.cost == 'free' %}checked="checked"{% endif %}> Free
			</label>
		</div>
		<div class="radio">
			<label for="cost_paid">
				<input type="radio" name="cost" id="cost_paid"
				{% if event_.cost != 'free' %}checked="checked"{% endif %}> It costs
			</label>
			<input type="text" name="cost_fee" id="cost_fee"
				style="width: 220px;" placeholder="how much?">

			{{ form.checkErorrs("cost_fee") }}
		</div>
	</div>

	{{ form.inputText({ label: "URL for more info:", field: "url", fill: event_.url, icon: "fa-link" }) }}
	{{ form.inputText({ label: "Your email:", field: "email", fill: event_.email, icon: "fa-envelope",
					helpText: "This is not made public, but we will let you know when your event is approved." }) }}

	{{ form.inputSubmit("Submit your event") }}
</form>
{% endblock %}
