{% extends "layout.html" %}
{% import "_formmacros.html" as form %}

{% block title %}Edit event {{ event_.id }}{% endblock %}
{% block pageclass %}event_form{% endblock %}

{% block header %}
<ol class="breadcrumb">
	<li><a href="/">Echo</a></li>
	<li><a href="/admin">Admin</a></li>
	<li><a href="/admin/event/{{ event_.id }}">{{ event_.slug }}</a></li>
	<li>Edit</li>
</ol>
{% endblock %}

{% block leftcontent %}

<h2>{% block title %}{% endblock %}</h2>

{% if errors %}
<p class="alert alert-danger"><b>There were problems validating your form.</b>	Please see below for more details.
{% endif %}

<form method="POST" action="{% block form_action %}/admin/event/{{ event_.id }}/edit{% endblock %}">
	{{ form.inputText({
		label: "Event name:",
		field: "title",
		fill: event_.title,
		class: "input-lg" }) }}

	<div class="row date-input">
		<div class="col-md-6">
			{{ form.inputDateTime({
				label: "Starts:",
				field: "startdt",
				fill: event_.startdt }) }}
		</div>

		<div class="col-md-6">
			{{ form.inputDateTime({
				label: "Ends:",
				field: "enddt",
				fill: event_.enddt }) }}
		</div>
	</div>

	{{ form.checkErrors("startBeforeEnd") }}

	<div class="checkbox">
		<label>
			<input type="checkbox" name="allday" id="allday"
				{% if event_.allday %}checked="checked"{% endif %}>
			This event lasts all day
		</label>
	</div>

	{{ form.inputText({
		label: "Location:",
		field: "location_text",
		fill: event_.location.singleLine || event_.location_text,
		icon: "fa-map-marker" }) }}
	{{ form.inputHidden({ field: "location_id", fill: event_.location_id }) }}

	{{ form.checkErrors("locationEmpty") }}

	{{ form.inputText({
		label: "What group or organisation is putting on the event?",
		field: "host",
		fill: event_.host,
		icon: "fa-group" })
	}}

	<div class="form-group">
		<label class="title" for="blurb">Event description:</label>
		<textarea class="form-control required" name="blurb" id="blurb" rows="8"
			aria-describedby="blurbHelp">{{ event_.blurb }}</textarea>
		{{ form.checkErrors("blurb") }}
		<p id="blurbHelp" class="help-block">
			Please include information about booking if you have to book.<br>
			Maximum 150 words.
			Currently <span id="wordcount">0</span> / 150.
		</p>
	</div>

	{{ form.inputText({ label: "URL for more info:", field: "url", fill: event_.url, icon: "fa-link" }) }}
	{{ form.inputText({ label: "Your email:", field: "email", fill: event_.email, icon: "fa-envelope",
					helpText: "This is not made public, but we will let you know when your event is approved." }) }}

	{% block button %}{{ form.inputSubmit("Save changes") }}{% endblock %}
</form>
{% endblock %}

{% block script %}
<script src="{{ statichost }}/bower_components/moment/min/moment.min.js"></script>
<script src="{{ statichost }}/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{ statichost }}/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
<script src="{{ statichost }}/bower_components/Countable/Countable.js"></script>
<script src="{{ statichost }}/js/inputs.js"></script>
<script>

$(function() {
	moment.locale('en', {
		week: {
			dow: 1, // Monday is the first day of the week.
			doy: 4  // The week that contains Jan 4th is the first week of the year.
		}
	});

	locationField('#location_text', '#location_id');

	var startDtp = dateTimeField('#startdt');
	var endDtp = dateTimeField('#enddt');

	$('#enddt').on('dp.show', function() {
		// Edit the end date default to be the start date + 1 hour
		endDtp.defaultDate(startDtp.date().clone().add(1, 'hour'));
	});

	$('#allday').change(function(e) {
		var allDay = $(e.target).is(':checked');
		var format = allDay ? 'YYYY/MM/DD' : 'YYYY/MM/DD HH:mm';

		startDtp.format(format);
		endDtp.format(format);
	}).trigger('change');

	Countable.live($('#blurb')[0], function(counter) {
		$('#wordcount').text(counter.words);
	});
});
</script>
{% endblock %}
