{% extends "layout_simple.html" %}

{% block title %}Newsletter{% endblock %}

{% block content %}
<p>
	Coming up over the next couple of weeks:
</p>

{% for chunk in events.ordered %}
	{% for event in chunk.events %}
	<p class="headline">
		<big><b><a href="https://echomanchester.net{{ event.absoluteURL }}?pk_campaign=newsletter">{{ event.title }}</a></b></big><br>
		<i>{{ event.startdt.format("dddd, D MMMM YYYY, h:mma") }}</i>
	</p>
	<p class="blurb">{{ event.shortBlurb(false, 180) }}</p>
	{% endfor %}
{% endfor %}

<hr>

<footer>
	<p>
		Please keep an eye on <a href="https://echomanchester.net/">echomanchester.net</a> for updates and new events.<br>
		To subscribe to this newsletter, email <a href="mailto:echomanchester-subscribe@lists.riseup.net">echomanchester-subscribe@lists.riseup.net</a><br>
		To unsubscribe, email <a href="mailto:echomanchester-unsubscribe@lists.riseup.net">echomanchester-unsubscribe@lists.riseup.net</a>
	</p>
</footer>
{% endblock %}
