{% extends "layout.html" %}
{% import "_formmacros.html" as form %}

{% block title %}Feeds{% endblock %}
{% block pageclass %}admin feeds{% endblock %}

{% block header %}
<ol class="breadcrumb">
	<li><a href="/">Echo</a></li>
	<li><a href="/admin">Admin</a></li>
	<li>Feeds</li>
</ol>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="fullwidth">
			{{ checkMessages() }}

			{% if errors %}
			<p class="alert alert-danger"><b>There were problems validating your form.</b>  Please see below for more details.
			{% endif %}

			<h2>Add a new feed</h2>

			<form method="POST" action="/admin/feeds/add" class="form">
				<div class="input-group">
					<input class="form-control" name="url" type="text" placeholder="URL">
					<span class="input-group-btn">
						<input class="btn btn-primary" type="submit" value="Add feed">
					</span>
				</div>
			</form>

			<h2>Edit existing feed info</h2>

			<div class="feedlist">
				{% for feed in feeds %}
				<div class="feed {% if feed.errors %}feed-error{% endif %}">
					<h4><a href="{{ feed.site_url }}">{{ feed.title }}</a></h4>

					<p>URL: {{ feed.id }}</p>
					{% if feed.errors %}
						<p>Error: <b>{{ feed.errors }}</b></p>
					{% endif %}

					<p>
						<form method="GET" action="/admin/feeds/edit" style="display: inline-block;">
							{{ form.inputHidden({ field: "id", fill: feed.id }) }}
							{{ form.inputSubmit("Edit", "btn-xs btn-primary") }}
						</form>

						<form method="POST" action="/admin/feeds/delete" style="display: inline-block;">
							{{ form.inputHidden({ field: "id", fill: feed.id }) }}
							{{ form.inputSubmit("Delete", "btn-xs btn-danger") }}
						</form>
					</p>

				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
