{% macro inputText(opts) %}
	{# opts = { label, field, fill, icon, helpText } #}

	<div class="form-group">
		<label for="{{ opts.field }}">{{ opts.label }}</label>

		{% if opts.icon %}
			<div class="input-group">
				<div class="input-group-addon"><i class="fa fa-fw {{ opts.icon }}"></i></div>
				<input class="form-control long"
					name="{{ opts.field }}"
					type="text"
					value="{{ opts.fill }}">
					{# Add aria-describedBy="{{ opts.field }}Help" #}
			</div>
		{% else %}
			<input class="form-control long"
				name="{{ opts.field }}"
				type="text"
				value="{{ opts.fill }}">
		{% endif %}

		{% if opts.helpText %}
			<p id="{{opts.field}}Help" class="help-block">{{ opts.helpText }}</p>
		{% endif %}
	</div>
{% endmacro %}

{% macro inputPassword(opts) %}
	{# opts = { label, field } #}

	<div class="form-group">
		<label for="{{ opts.field }}">{{ opts.label }}</label>
		<input class="form-control long"
			name="{{ opts.field }}"
			type="password">
	</div>
{% endmacro %}

{% macro inputDateTime(opts) %}
	{# opts = { label, field, fill } #}

	<div class="form-group datetime">
		<label class="title" for="i_{{ opts.field}}">{{ opts.label }}</label>

		<div class='input-group date'>
			<input class="required form-control" type="text" id="i_{{ opts.field }}"
				placeholder="click to pick">
			<input type="hidden" name="{{opts.field}}" id="{{opts.field}}"
				value="{{ event_.startdt }}">
			<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		</div>
	</div>
{% endmacro %}

{% macro inputSubmit(text) %}
	<input class="btn btn-primary" type="submit" value="{{ text }}">
{% endmacro %}
