{% macro iconStart(opts) %}
	{% if opts.icon %}
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-fw {{ opts.icon }}"></i></div>
	{% endif %}
{% endmacro %}

{% macro iconEnd(opts) %}
	{% if opts.icon %}
		</div>
	{% endif %}
{% endmacro %}

{% macro helpText(opts) %}
	{% if opts.helpText %}
		<p id="{{opts.field}}Help" class="help-block">{{ opts.helpText }}</p>
	{% endif %}
{% endmacro %}

{% macro checkErrors(field) %}
	{% for err in errors %}
		{% if err.path == field %}
			<p class="text-danger">Error: {{ err.message }}</p>
		{% endif %}
	{% endfor %}
{% endmacro %}

{% macro inputText(opts) %}
	{# opts = { label, field, fill, icon, helpText } #}

	<div class="form-group">
		<label for="{{ opts.field }}">{{ opts.label }}</label>

		{{ iconStart(opts) }}
		<input class="form-control long"
			name="{{ opts.field }}"
			type="text"
			{% if opts.fill %}     value="{{ opts.fill }}" {% endif %}
			{% if opts.helpText %} aria-describedBy="{{ opts.field }}Help" {% endif %}
		>
		{{ iconEnd(opts) }}
		{{ checkErrors(opts.field) }}
		{{ helpText(opts) }}
	</div>
{% endmacro %}

{% macro inputPassword(opts) %}
	{# opts = { label, field } #}

	<div class="form-group">
		<label for="{{ opts.field }}">{{ opts.label }}</label>

		{{ iconStart(opts) }}
		<input class="form-control long"
			name="{{ opts.field }}"
			type="password"
			{% if opts.fill %}		value="{{ opts.fill }}" {% endif %}
			{% if opts.helpText %}	aria-describedBy="{{ opts.field }}Help" {% endif %}
		>
		{{ iconEnd(opts) }}
		{{ checkErrors(opts.field) }}
		{{ helpText(opts) }}
	</div>
{% endmacro %}

{% macro inputDateTime(opts) %}
	{# opts = { label, field, fill } #}

	<div class="form-group datetime">
		<label class="title" for="i_{{ opts.field}}">{{ opts.label }}</label>

		<div class='input-group date'>
			<input class="required form-control" type="text" id="i_{{ opts.field }}"
				placeholder="click to pick">
			<input type="hidden" name="{{opts.field}}" id="{{opts.field}}"
				value="{{ opts.fill }}">
			<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		</div>

		{{ checkErrors(opts.field) }}
	</div>
{% endmacro %}

{% macro inputSubmit(text) %}
	<input class="btn btn-primary" type="submit" value="{{ text }}">
{% endmacro %}
