{% extends "layout.html" %}

{% block title %}Radical Events &amp; News{% endblock %}
{% block pageclass %}index{% endblock %}

{% block content %}

<div class="row">
	<div class="leftcontent">
		<h2>About Echo</h2>

		<p>
			Echo is a non-profit political events and news site. Echo hopes to provide opportunities for struggle against oppression to grow by increasing participation in demonstrations, events, organised groups, and fundraisers.  <a href="">read more...</a></p>
	</div>
	<div class="rightcontent">
		<h2>Subscribe</h2>

		<p>We now have a monthly newsletter!</p>

		<form class="form-inline" action="https://docs.google.com/forms/d/114oUUpYGh0vox28-_wuEh7asoXyHa9zr8yb2B_zqJLE/formResponse" method="POST" target="_new">
			<div class="form-group">
				<input class="form-control" type="email" name="entry.557563294" placeholder="Enter email address" style="width: 12em;">
			</div>
			<button class="btn btn-primary" type="submit">Subscribe</button>
		</form>

		<p>
			You can also subscribe to our 
			<a href="https://www.google.com/calendar/render?cid={{ ("http://" + site + "/api/ical")|url_encode }}">
				feed on Google Calendar
			</a>.
		</p>
	</div>
</div>

<div class="row">
	<div class="leftcontent" id="events">

		<h2>Events</h2>

		{% for event_ in events %}

		{% if loop.index % 2 == 1 %}
		<div class="row">
		{% endif %}

			<div class="col-md-6">
				{% include "event_card.html" %}
			</div>

		{% if loop.index % 2 == 0 or loop.last %}
		</div>
		{% endif %}

		{% endfor %}

		<div class="row">
			<div class="col-md-6">
				<div class="box add-yours">
					<p><a href="/event/add"><i class="fa fa-plus"></i> Add your event</a></p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="box add-yours">
					<p><a href="/events">See more events <i class="fa fa-angle-right"></i></a></p>
				</div>
			</div>
		</div>

	</div> <!-- leftcontent -->

	<div class="rightcontent">
		<h2>Posts</h2>

		{% for post in posts %}
			{% if loop.first %}<ul class="news">{% endif %}
			<li><b>{{ post.feed.title }}</b> <small>({{ post.date.fromNow() }})</small><br>
			<a href="{{ post.link }}">{{ post.title }}</a>
			{% if loop.last %}</ul>{% endif %}
		{% endfor %}
	</div>
</div>

{% endblock %}


{% block script %}
<script>
$(function() {
	$(".box").on("click", function (evt) {
		location.href = $(this).find("a").attr("href");
	})

	function resize() {
		$("#events .row .event-box")
				.css("height", "auto")
				.find(".foot")
				.css('margin-top', '0');

		$("#events .row").each(function (idx, elem) {
			var col1 = elem.children[0],
				box1 = $(col1).find(".event-box"),
				col2 = elem.children[1],
				box2 = $(col2).find(".event-box")

			if (!col1 || !col2 || !box1 || !box2)
				return;

			var h1 = box1.height();
			var h2 = box2.height();

			if (h1 > h2) {
				box2.height(h1);
				box2.find(".foot").css('margin-top', 10 + h1 - h2);
			} else {
				box1.height(h2);
				box1.find(".foot").css('margin-top', 10 + h2 - h1);
			}
		});
	}

	resize();
	$(window).resize(resize);
});
</script>
{% endblock %}
