{% extends "layout.html" %}
{% import "_eventbox.html" as eventbox %}

{% block title %}Radical Events &amp; News{% endblock %}
{% block pageclass %}index{% endblock %}

{% block header %}
<p style="padding-top: 4px; /* XXX */">Echo is an events listing and news site for left wing culture and politics in Greater Manchester.  <a href="/about">read more…</a>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="leftcontent" class="eventlist">

			<h2>Upcoming events</h2>
<!--
			<p class="add-event">
				<a href="/event/add"><i class="fa fa-plus"></i> Add your events here</a>
			</p>
-->

<!--			<h3 class="eventlist-date">This week <small>(Fri 6 Nov - Sun 8 Nov)</small></h3> -->

			{% include "_eventlist.html" %}

			<p class="see-more"><a href="/events">See more events <i class="fa fa-angle-right"></i></a></p>

		</div> <!-- leftcontent -->

		<div class="rightcontent sidebar">

			<h2 class="sidebar-header">Keep up to date</h2>

			<div class="sozial-media">
				<ul>
					<li><a href="http://www.facebook.com/echomanchester.net"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
					<li><a href="https://twitter.com/echomanchester"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
					<li><a href="https://www.google.com/calendar/render?cid={{ ("http://" + site + "/api/ical")|url_encode }}"><i class="fa fa-fw fa-google"></i> Google Calendar</a>
					<li><i class="fa fa-fw fa-envelope"></i> Or sign up to our email newsletter:
				</ul>

				<form class="form-inline" action="https://docs.google.com/forms/d/114oUUpYGh0vox28-_wuEh7asoXyHa9zr8yb2B_zqJLE/formResponse" method="POST" target="_new">
					<div class="form-group">
						<input class="form-control" type="email" name="entry.557563294" placeholder="Enter email address" style="width: 15em;">
					</div>
					<button class="btn btn-primary" type="submit">Go</button>
				</form>
			</div>


			<h2 class="sidebar-header">News</h2>

			{% for post in posts %}
				{% if loop.first %}<ul class="sidebar-list">{% endif %}
				<a href="{{ post.link }}">
					<li>
						<b>{{ post.feed.title }}</b> <small>({{ post.date.fromNow() }})</small><br>
						<span class="title">{{ post.title }}</span>
					</li>
				</a>
				{% if loop.last %}</ul>{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}


{% block script %}
<script>
$(function() {
	$(".box").on("click", function (evt) {
		location.href = $(this).find("a").attr("href");
	})

	function resize() {
		$("#events .row .event-box")
				.css("height", "auto")
				.find(".foot")
				.css('margin-top', '0');

		$("#events .row").each(function (idx, elem) {
			var col1 = elem.children[0],
				box1 = $(col1).find(".event-box"),
				col2 = elem.children[1],
				box2 = $(col2).find(".event-box")

			if (!col1 || !col2 || !box1 || !box2)
				return;

			var h1 = box1.height();
			var h2 = box2.height();

			if (h1 > h2) {
				box2.height(h1);
				box2.find(".foot").css('margin-top', 10 + h1 - h2);
			} else {
				box1.height(h2);
				box1.find(".foot").css('margin-top', 10 + h2 - h1);
			}
		});
	}

	resize();
	$(window).resize(resize);
});
</script>
{% endblock %}
