<!DOCTYPE html>
<head>
	<title>{% block title %}{% endblock %} ~ Echo Manchester</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:700,500">
	<link href="/stylesheets/echo.css" rel="stylesheet">
	<link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css " />
</head>

<body class="{% block pageclass %}normal{% endblock %}">
 
<nav class="navbar navbar-default">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">
			<img src="https://echomanchester.net/img/header.png" height="40" 
				style="margin-top: -10px;" alt="echo manchester">
		</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li><a href="/about">About</a>
			<li><a href="/events">Calendar</a>
			<li><a href="/event/add">Add event</a>
			{% if user %}
			<li class="dropdown">
				<a href="/admin" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-expanded="false">⚙ <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/admin/">Manage events</a></li>
					<li><a href="/admin/locations">Manage locations</a></li>
					{% if user.rights == 'admin' %}
					<li><a href="/admin/user">Manage users</a></li>
					{% endif %}
					<li><a href="/user/password/change">Change password</a>
					<li><a href="/user/logout">Logout</a>
				</ul>
			{% endif %}
		</ul>
	</div><!--/.navbar-collapse -->
</div>
</nav>
 
<div class="container">

{% block content %}

<div class="row">

	<div class="leftcontent">
	{% for type, message in messages %}
		<div class="alert alert-{{ type }}">{{ message|safe }}</div>
	{% endfor %}

	{% block leftcontent %}{% endblock %}
	</div>

	<div class="rightcontent">
	{% block rightcontent %}{% endblock %}
	</div>

</div>

{% endblock %}
 
<footer>
<p>&copy; Echo Manchester, 2014.  Licenced under the GNU AGPL v3, source code on <a href="//github.com/takkaria/echo">GitHub</a>.<br>
Found a bug? <a href="https://echomanchester.net/about#contact">Let us know</a>.
</footer>
</div>

<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

{% block script %}{% endblock %}
