<!DOCTYPE html>
<head>
	<title>{% block title %}{% endblock %} ~ Echo Manchester</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:200,500,700">
	<link rel="stylesheet" href="{{ statichost }}/stylesheets/echo.css">

	{% block meta %}{% endblock %}
</head>

<body class="{% block pageclass %}normal{% endblock %}">

<nav class="navbar navbar-default">
<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">
			<img src="{{ statichost }}/images/header.png" height="40"
				style="margin-top: -10px;" alt="Echo Manchester">
		</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li><a href="/about">About</a>
			<li><a href="/events">Calendar</a>

			{% if user %}
			<li class="dropdown">
				<a href="/admin" class="dropdown-toggle" data-toggle="dropdown"
					role="button" aria-expanded="false"><i class="fa fa-cog" style="font-size: 18px;"></i> <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/admin/">Manage events</a></li>
					<li><a href="/admin/locations">Manage locations</a></li>
					<li><a href="/admin/feeds">Manage feeds</a></li>
					{% if user.rights == 'admin' %}
					<li><a href="/admin/user">Manage users</a></li>
					{% endif %}
					<li><a href="/user/password/change">Change password</a>
					<li><a href="/user/logout">Logout</a>
				</ul>
			</li>
			{% endif %}
		</ul>

		<div class="nav navbar-form navbar-right">
			<a href="/event/add" class="btn btn-primary">Add an event</a>
		</div>

	</div><!--/.navbar-collapse -->
</div>
</nav>

{% macro checkMessages() %}
	{% for type, message in messages %}
		<div class="alert alert-{{ type }}">{{ message|safe }}</div>
	{% endfor %}
{% endmacro %}

<div class="jumbo">
	<div class="container">
		<div class="row">
			<div class="fullwidth">
				{% block header %}{% endblock %}
			</div>
		</div>
	</div>
</div>

{% block content %}

<div class="container">
	<div class="row">

		<div class="leftcontent">
		{{ checkMessages() }}

		{% block leftcontent %}{% endblock %}
		</div>

		<div class="rightcontent">
		{% block rightcontent %}{% endblock %}
		</div>
	</div>
</div>

{% endblock %}

<footer>
	<div class="container">
		<div class="row">
			<div class="fullwidth">
				<p>&copy; Echo Manchester, 2014.  <a href="/about">Read more about Echo</a>.</p>
			</div>
		</div>
	</div>
</footer>

<script src="{{ statichost }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ statichost }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>

{% block script %}{% endblock %}

{% include "_piwik.html" ignore missing %}
