{% extends "layout.html" %}
{% import "_formmacros.html" as form %}

{% block title %}Login{% endblock %}
{% block pageclass %}login{% endblock %}

{% block header %}
<ol class="breadcrumb">
	<li><a href="/">Echo</a></li>
	<li><a href="/user/login">Login</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div id="loginbox">
			<form action="/user/login" method="post">
				<input type="hidden" name="next" value="{{ next }}">
				{{ form.inputText({ label: "Email:", field: "email" }) }}
				{{ form.inputPassword({ label: "Password:", field: "password" }) }}

				<p class="pull-left">
					<a href="/user/password/reset">Forgot password?</a>
				</p>

				<div class="text-right">
					{{ form.inputSubmit("Log in") }}
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
