{% extends "layout.html" %}
{% import "formmacros.html" as form %}

{% block title %}Login{% endblock %}
{% block pageclass %}login{% endblock %}

{% block leftcontent %}

<ol class="breadcrumb">
  <li><a href="/">Echo</a></li>
  <li><a href="/login">Login</a></li>
</ol>

<form action="/user/login" method="post">
  <input type="hidden" name="next" value="{{ next }}">
  {{ form.inputText({ label: "Email:", field: "email" }) }}
  {{ form.inputPassword({ label: "Password:", field: "password" }) }}
  {{ form.inputSubmit("Log in") }}
</form> 

{% endblock %}
