{% extends "layout.html" %}
{% import "formmacros.html" as form %}

{% block title %}Password Reset{% endblock %}

{% block leftcontent %}
<ol class="breadcrumb">
  <li><a href="/">Echo</a></li>
	<li>Reset password</li>
</ol>

{% if errors %}
<p class="alert alert-danger"><b>There were problems validating your form.</b>  Please see below for more details.
{% endif %}

<form method="POST" action="/user/password/reset">
	{{ form.inputText({ label: "E-mail address:", field: "email" }) }}

	{% block button %}{{ form.inputSubmit("Send a reset link") }}{% endblock %}
</form>

{% endblock %}
