{% extends "layout.html" %}
{% import "_formmacros.html" as form %}

{% block title %}Change password{% endblock %}
{% block pageclass %}admin{% endblock %}

{% block header %}
<ol class="breadcrumb">
	<li><a href="/">Echo</a></li>
	<li><a href="/admin">Admin</a></li>
	<li><a href="/admin/user">User</a></li>
	<li>{{ user.id }}</a></li>
	<li>Password</li>
</ol>
{% endblock %}

{% block leftcontent %}
	{% if errors %}
	<p class="alert alert-danger"><b>There were problems validating your form.</b>  Please see below for more details.
	{% endif %}

	<form method="POST" action="/user/password/change">
		<input type="hidden" name="email" value="{{ user.email }}" />
		{{ form.inputPassword({ label: "Current password:", field: "password" }) }}
		{{ form.inputPassword({ label: "New password:", field: "new_password" }) }}
		{{ form.inputPassword({ label: "New password (again):", field: "new_password2" }) }}

		{% block button %}{{ form.inputSubmit("Save changes") }}{% endblock %}
	</form>
{% endblock %}
