{% extends "layout.html" %}

{% block title %}Password Reset{% endblock %}

{% block leftcontent %}
<ol class="breadcrumb">
	<li><a href="/">Echo</a></li>
	<li>Reset password</li>
</ol>

<p>
	If you have a user account, you should receive an email in a few seconds with
	a link to reset your password. if you don't &ndash; or if you're not sure if
	you have an account, or which e-mail address you have us &ndash; please
	<a href="/about">contact us</a> and we'll try to sort it out.
</p>
{% endblock %}
