{% extends "layout.html" %}
{% import "formmacros.html" as form %}

{% block title %}Password Reset{% endblock %}

{% block leftcontent %}
<ol class="breadcrumb">
	<li><a href="/">Echo</a></li>
	<li>Reset password</li>
</ol>

{% if errors %}
<p class="alert alert-danger"><b>There were problems validating your form.</b>  Please see below for more details.
{% endif %}

<form method="POST" action="/user/password/reset/{{ user.pwreset|url_encode }}">
	{{ form.inputPassword({ label: "New password:", field: "new_password" }) }}
	{{ form.inputPassword({ label: "New password (again):", field: "new_password2" }) }}

	{% block button %}{{ form.inputSubmit("Save changes") }}{% endblock %}
</form>

{% endblock %}
