{% extends "layout.html" %}
{% import "_formmacros.html" as form %}

{% block title %}Edit user{% endblock %}
{% block pageclass %}admin user_form{% endblock %}

{% block header %}
<ol class="breadcrumb">
  <li><a href="/">Echo</a></li>
  <li><a href="/admin">Admin</a></li>
  <li><a href="/admin/user">User</a></li>
	<li>{{ userObj.id }}</a></li>
	<li>Edit</li>
</ol>
{% endblock %}

{% block leftcontent %}
<h2>Edit user</h2>

{% if errors %}
<p class="alert alert-danger"><b>There were problems validating your form.</b>  Please see below for more details.
{% endif %}

<form method="POST" action="{% block form_action %}/admin/user/{{ userObj.id }}/edit{% endblock %}">
	{{ form.inputText({ label: "E-mail address:", field: "email", fill: userObj.email }) }}
	{{ form.inputPassword({ label: "Password:", field: "password" }) }}

	{{ form.inputText({
		label: "Notify options:",
		field: "notify",
		fill: userObj.notify,
		helpText: 'Comma-separated, can be "email"' }) }}

	<div class="form-group">
		<label>Rights:</label>
		<div class="radio">
			<label for="rights_editor">
				<input type="radio" name="rights" id="rights_editor" value="editor"
					{% if userObj.rights == 'editor' %}checked="checked"{% endif %}> Editor
			</label>
		</div>
		<div class="radio">
			<label for="rights_admin">
				<input type="radio" name="rights" id="rights_admin" value="admin"
					{% if userObj.rights == 'admin' %}checked="checked"{% endif %}> Admin
			</label>
		</div>
		{{ form.checkErrors("rights") }}
	</div>

	{% block button %}{{ form.inputSubmit("Save changes") }}{% endblock %}
</form>
{% endblock %}
