{% extends "layout.html" %}

{% import "formmacros.html" as form %}

{% block pageclass %}admin user_form{% endblock %}

{% block leftcontent %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="/">Echo</a></li>
  <li><a href="/admin">Admin</a></li>
  <li><a href="/admin/user">User</a></li>
	<li>{{ user_obj.id }}</a></li>
	<li>Edit</li>
</ol>
{% endblock breadcrumb %}

{% if errors %}
<p class="alert alert-danger"><b>There were problems validating your form.</b>  Please see below for more details.
{% endif %}

<form method="POST" action="{% block form_action %}/admin/user/{{ user_obj.id }}/edit{% endblock %}">
	{{ form.inputText({ label: "E-mail address:", field: "email", fill: user_obj.email }) }}
	{{ form.inputPassword({ label: "Password:", field: "password" }) }}

	<div class="form-group">
		<label>Rights:</label>
		<div class="radio">
			<label for="rights_editor">
				<input type="radio" name="rights" id="rights_editor" value="editor"
					{% if user_obj.rights == 'editor' %}checked="checked"{% endif %}> Editor
			</label>
		</div>
		<div class="radio">
			<label for="rights_admin">
				<input type="radio" name="rights" id="rights_admin" value="admin"
					{% if user_obj.rights == 'admin' %}checked="checked"{% endif %}> Admin
			</label>
		</div>
		{{ form.checkErrors("rights") }}
	</div>

	{% block button %}{{ form.inputSubmit("Save changes") }}{% endblock %}
</form>
{% endblock %}
